<ion-header>
  <ion-navbar>
    <ion-title>Cadastro</ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="onPresentConfigs()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-card>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/img/img-placeholder.png">
        </ion-avatar>
        <h2>Água e esgoto</h2>
        <p>Falta de saneamento básico</p>
        <button ion-button icon-only clear item-end (click)="onPresentConfigs()">
          <ion-icon name="md-create"></ion-icon>
        </button>
      </ion-item>
    </ion-card>

    <ion-card>
      <img src="assets/img/map.png">
      <ion-card-content>
        <p>Rua visconde de inhumirim, 999, Vila Virginia, Ribeirão Preto - SP</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="assets/img/img-placeholder.png">
      <ion-card-content>
        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
                    Incluir nova
                  </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-right clear small color="danger">
                    Excluir selecionda(s)
                  </button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label floating>Observação</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    </ion-card>

    <ion-item>
      <ion-label>Mostra meu nome como anônimo</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button block color="light">Limpar</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block color="danger" (click)="onSubmit()">Cancelar</button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-list>
</ion-content>
<ion-fab right bottom>
  <button ion-fab color="primary" (click)="onSubmit()"><ion-icon name="checkmark"></ion-icon></button>
</ion-fab>