<ion-content class="page-login">
    <div class="header-image"></div>
    <div class="main-content" text-wrap text-center>
        <div class="circular"></div>
        <form #loginForm="ngForm" novalidate>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-icon name="person" item-left></ion-icon>
                            <ion-input [(ngModel)]="credentials.email" name="email" type="text" #email="ngModel" spellcheck="false" autocapitalize="off"
                                placeholder="E-mail" required clearInput>
                            </ion-input>
                        </ion-item>
                        <ion-item no-lines>
                            <ion-icon name="lock" item-left></ion-icon>
                            <ion-input [(ngModel)]="credentials.password" name="password" type="password" #password="ngModel" placeholder="Senha" required
                                clearInput>
                            </ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-6>
                        <button ion-button block color="mdc-grey-800" (click)="onSubmit()">Criar</button>
                    </ion-col>
                    <ion-col col-6>
                        <button ion-button block color="primary" (click)="onSubmit()" type="submit">Login</button>
                    </ion-col>
                </ion-row>
                <ion-row text-center class="divider">
                    <ion-col col-5>
                        <hr>
                    </ion-col>
                    <ion-col col-2>
                        <p color="mdc-grey"><strong>OU</strong></p>
                    </ion-col>
                    <ion-col col-5>
                        <hr>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-3>
                        <button ion-button icon-only color="twitter" (click)="onSubmit()">
                            <ion-icon ios="logo-twitter" md="logo-twitter"></ion-icon>
                        </button>
                    </ion-col>
                    <ion-col col-3>
                        <button ion-button icon-only color="facebook" (click)="onSubmit()">
                            <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
                        </button>
                    </ion-col>
                    <ion-col col-3>
                        <button ion-button icon-only color="danger" (click)="onSubmit()">
                            <ion-icon ios="logo-google" md="logo-google"></ion-icon>
                        </button>
                    </ion-col>
                    <ion-col col-3>
                        <button ion-button icon-only color="mdc-green" (click)="onSubmit()">
                            <ion-icon ios="ios-call" md="md-call"></ion-icon>
                        </button>
                    </ion-col>
                </ion-row>
                <ion-row style="margin-top:5vh;">
                    <ion-col>
                        <button ion-button block clear color="mdc-grey" (click)="onSubmit()">
                            Lembrar-me mais tarde
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>
</ion-content>