<ion-header>
  <ion-navbar>
    <ion-title>Galeria</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-grid no-padding>
    <ion-row *ngFor="let i of rows">
      <ion-col width-50 *ngFor="let item of list | slice:(i*2):(i+1)*2">
        <ion-card (click)="onOpenCadastro()" style="margin:0px;padding:5px;width:100%;">
          <img src="assets/img/img-placeholder.png">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
