<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="onDismiss()">
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Preferências</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onConfirm()">
        <ion-icon ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>

</ion-content>