<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Map</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onOpenNotificacao()">
          <ion-icon ios="ios-notifications" md="md-notifications"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="map-page">
  <div style="height: 100%; width: 100%" #mapCanvas id="map_canvas"></div>
</ion-content>

<ion-fab center bottom>
  <button ion-fab color="danger"><ion-icon name="add"></ion-icon></button>
  <ion-fab-list side="right">
    <button ion-fab color="primary" (click)="onOpenCamera()"><ion-icon name="camera"></ion-icon></button>
  </ion-fab-list>
  <ion-fab-list side="top">
    <button ion-fab color="primary" (click)="onOpenCadastro()"><ion-icon name="list-box"></ion-icon></button>
  </ion-fab-list>
  <ion-fab-list side="left">
    <button ion-fab color="primary" (click)="onOpenGaleria()"><ion-icon name="md-photos"></ion-icon></button>
  </ion-fab-list>
</ion-fab>
