<ion-split-pane>
  <!-- Side menu -->
  <ion-menu [content]="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Olhar Cidadão</ion-title>
      </ion-toolbar>
      <ion-toolbar>
        <ion-list no-lines>
          <ion-item class="user-info">
            <ion-avatar item-left no-lines>
              <img [src]="'assets/img/user-avatar-white.png'">
            </ion-avatar>
            <h2>Nome de usuário</h2>
            <p>usuario@email.com.br</p>
            <button ion-button icon-only clear item-right menuClose (click)="onOpenPage(userPages[0])">
              <ion-icon name="create" color="primary"></ion-icon>
            </button>
          </ion-item>
        </ion-list>
      </ion-toolbar>
    </ion-header>
    <ion-content class="outer-content">
      <ion-list>
        <ion-item-group>
          <ion-item-divider sticky>
            APLICATIVO
          </ion-item-divider>
          <div *ngFor="let page of appPages" [ngClass]="{active: isActive(page)}">
            <button ion-item menuClose (click)="onOpenPage(page)">
              <ion-icon item-left [name]="page.icon"></ion-icon>
              <h2>{{ page.title }}</h2>
            </button>
          </div>
        </ion-item-group>
        <ion-item-group>
          <ion-item-divider sticky>
            CONFIGURAÇÕES
          </ion-item-divider>
          <div *ngFor="let page of userPages" [ngClass]="{active: isActive(page)}">
            <button ion-item menuClose (click)="onOpenPage(page)">
              <ion-icon item-left [name]="page.icon"></ion-icon>
              <h2>{{ page.title }}</h2>
            </button>
          </div>
        </ion-item-group>
        <ion-item-group>
          <ion-item-divider sticky>
            INFORMAÇÕES
          </ion-item-divider>
          <div *ngFor="let page of miscellaneousPages" [ngClass]="{active: isActive(page)}">
            <button ion-item menuClose (click)="onOpenPage(page)">
              <ion-icon item-left [name]="page.icon"></ion-icon>
              <h2>{{ page.title }}</h2>
            </button>
          </div>
        </ion-item-group>

      </ion-list>
    </ion-content>
    <ion-footer class="menu-footer">
      <ion-toolbar>
        <button ion-button small clear full>
          Copyright © 2017 Olhar Cidadão Ltda
        </button>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>
  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content [swipeBackEnabled]="'false'" main name="app"></ion-nav>
</ion-split-pane>
