<!-- <ion-header>
  <ion-navbar>
    <ion-title>Notificação</ion-title>
    <ion-buttons end>
      <button ion-button (click)="onDismiss()" *ngIf="!isModal">
        Encerrar
      </button>
      <button ion-button icon-only (click)="onDismiss()" *ngIf="isModal">
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header> -->

<ion-content padding>

</ion-content>
