<ion-header>
  <ion-navbar>
    <ion-title>Camera</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div style="width:100%;height:100%;background:#212121;"></div>
</ion-content>
<ion-fab center bottom>
  <button ion-fab color="danger" (click)="onOpenCadastro()"><ion-icon name="disc"></ion-icon></button>
</ion-fab>