<ion-header no-border>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">Skip</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager>

      <ion-slide>
        <img src="assets/img/ica-slidebox-img-1.png" class="slide-image" />
        <h2 class="slide-title">
            Donec a <b>Olhar Cidadão</b>
        </h2>
        <p><b>Lorem Ipsum</b> dolor sit amet, <strong>Consectetur Adipiscing</strong> elit. 
          Aliquam venenatis justo ante, nec <strong>Egestas</strong> ante <strong>Feugiat</strong> at.</p>
      </ion-slide>
  
      <ion-slide>
        <img src="assets/img/ica-slidebox-img-2.png" class="slide-image" />
        <h2 class="slide-title">Curabitur interdum ligula</h2>
        <p><b>Lorem Ipsum</b> dolor sit amet, <strong>Consectetur Adipiscing</strong> elit. 
          Aliquam venenatis justo ante, nec <strong>Egestas</strong> ante <strong>Feugiat</strong> at.</p>
      </ion-slide>
  
      <ion-slide>
        <img src="assets/img/ica-slidebox-img-3.png" class="slide-image" />
        <h2 class="slide-title">Fusce at dictum neque</h2>
        <p><b>Lorem Ipsum</b> dolor sit amet, <strong>Consectetur Adipiscing</strong> elit. 
          Aliquam venenatis justo ante, nec <strong>Egestas</strong> ante <strong>Feugiat</strong> at.</p>
      </ion-slide>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-4.png" class="slide-image"/>
      <h2 class="slide-title">Pronto para começar?</h2>
      <button ion-button icon-end large clear (click)="startApp()">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>

  </ion-slides>
</ion-content>
