<ion-header>
  <ion-navbar [mode]="platform.is('ios') ? 'ios' : 'md'" color="primary">
    <ion-title>Sobre</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onDismiss()">
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="about-header">
    <img src="assets/img/logo.png">
  </div>
  <div padding>
    <div text-center>
      <button ion-button icon-only clear small color="twitter">
        <ion-icon name="logo-twitter"></ion-icon>
      </button>
      <button ion-button icon-only clear small color="instagram">
        <ion-icon name="logo-instagram"></ion-icon>
      </button>
      <button ion-button icon-only clear small color="facebook">
        <ion-icon name="logo-facebook"></ion-icon>
      </button>
      <button ion-button icon-only clear small color="google">
        <ion-icon name="logo-google"></ion-icon>
      </button>
      <button ion-button icon-only clear small color="whatsapp">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </button>
      <h2>Olhar Cidadão</h2>
      <p>Lorem ipsum dolor sit amet, <strong>Consectetur Adipiscing</strong> elit. 
        Duis quis dolor et neque maximus dignissim. 
        Aliquam venenatis justo ante, nec <strong>Egestas</strong> ante <strong>Feugiat</strong> at.</p>
    </div>
    <ion-list>
      <ion-item>
        <ion-icon name="calendar" item-left></ion-icon>
        Desde 2017
      </ion-item>
      <ion-item>
        <ion-icon name="pin" item-left></ion-icon>
        Ribeirão Preto - São Paulo, Brazil
      </ion-item>
      <ion-item>
        <ion-icon name="code-working" item-left></ion-icon>
        Versão: 0.1.0-pre-alpha
      </ion-item>
      <ion-item (click)="onGetIntoContact()">
        <ion-icon name="mail" item-left></ion-icon>
        olharcidadao@olharcidadao.com.br
      </ion-item>
    </ion-list>
    <button ion-button outline block small>Termo de Adesão e Compromisso</button>
    <button ion-button outline block small>Termo de Uso</button>
    <button ion-button outline block small>Termo de Politica de Privacidade</button>
  </div>
</ion-content>
