<ion-header>
  <ion-navbar>
    <!-- <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="detalhe">
        Detalhes
      </ion-segment-button>
      <ion-segment-button value="historico">
        Histórico
      </ion-segment-button>
      <ion-segment-button value="chat">
        Chat
      </ion-segment-button>
      <ion-segment-button value="notificacao">
        Notificação
      </ion-segment-button>
    </ion-segment> -->
    <ion-buttons end>
      <button ion-button icon-only (click)="onPresentOptions($event)">
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!-- <ion-content>
  {{segment}}
  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'historico'"  *ngIf="segment === 'historico'">

    </div>
    <div *ngSwitchCase="'chat'"  *ngIf="segment === 'chat'">

    </div>
    <div *ngSwitchCase="'notificacao'"  *ngIf="segment === 'notificacao'">

    </div>
    <div *ngSwitchDefault  *ngIf="segment === 'notificacao'">

    </div>
  </div>
</ion-content> -->
<ion-tabs   tabbarPlacement="top">
  <ion-tab [root]="tab1Root" tabTitle="Detalhe" tabIcon="list-box"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Histórico" tabIcon="clock"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Chat" tabIcon="chatboxes"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Notificação" tabIcon="notifications"></ion-tab>
</ion-tabs>