<ion-header>
  <ion-navbar>
    <ion-title>Compartilhar</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onDismiss()">
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <img [src]="'assets/img/onboarding-screens.gif'" class="ion-img" />
    <ion-card-content>
      <ion-item>
        <h2 class="card-title">Olhar Cidadão</h2>
        <button ion-button icon-left clear color="danger" item-right>
          <ion-icon name='star'></ion-icon>
          4 Estrelas
        </button>
      </ion-item>
      <p>Lorem ipsum dolor sit amet, <strong>Consectetur Adipiscing</strong> elit. 
        Duis quis dolor et neque maximus dignissim. 
        Aliquam venenatis justo ante, nec <strong>Egestas</strong> ante <strong>Feugiat</strong> at.</p>
    </ion-card-content>
    <ion-item actions>
      <button ion-button icon-left clear color="primary" item-left>
          <ion-icon name='thumbs-up'></ion-icon>
          500 Curtidas
      </button>
      <button ion-button icon-left clear color="primary" item-right>
          <ion-icon name='people'></ion-icon>
          1000+ Usuários
      </button>
    </ion-item>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button ion-button icon-left outline color="facebook" class="btn">
          <ion-icon name="logo-facebook"></ion-icon>
          Facebook
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button icon-left outline color="twitter" class="btn">
          <ion-icon name="logo-twitter"></ion-icon>
          Twitter
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <button ion-button icon-left outline color="google" class="btn">
          <ion-icon name="logo-google"></ion-icon>
          Google
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button icon-left outline color="instagram" class="btn">
          <ion-icon name="logo-instagram"></ion-icon>
          Instagram
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <button ion-button icon-left outline color="whatsapp" class="btn">
          <ion-icon name="logo-whatsapp"></ion-icon>
          Whatsapp
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button icon-left outline color="dark" class="btn">
          <ion-icon name="mail"></ion-icon>
          E-mail
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
